<div class="sheet-modal contact-sheet" style="height: auto;--f7-sheet-bg-color: #fff;">
    <div class="sheet-modal-inner">
        <div class="page-content">
            <div id="btnContact" class="block-title title-large">تماس با ما</div>
            <div class="block">
                <p>
                    آدرس: <a class="external" target="_blank"
                             href="{{ common.address_link }}">{{ common.address }}</a>
                </p>
                <p>
                    تلفن تماس: <a class="external" href="tel:{{ common.phone }}">{{ common.phone }}</a>
                </p>
                <p>
                    رایانامه: <a class="external" href="mailto:{{ common.email }}">{{ common.email }}</a>
                </p>
            </div>
        </div>

    </div>
</div>